*{
  margin:0;
  padding:0;
}
body{
    font-family: sans-serif;
    background-color: rgb(6,40,99);
    font-size: 1rem; color: grey;
}
.cy img{
  width: 13.3%;
  height: auto;
  position: absolute;
  left: 0;
  object-fit:cover;
}
.gr img{
  width: 7%;
  margin-top: 19px;
  height: auto;
  position: absolute;
  right: 0;
  object-fit:cover;
}
.mg img{
  width: 8.4%;
  margin-top: 19px;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  object-fit:cover;
}
.pr img{
  width: 8.4%;
  height: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit:cover;
}

a {color: white}
a:hover{color: grey;}
.content{
    width: 23.5%;
    margin: 0 auto;
}
.piggylogo-container{
    padding: 50px 0 50px 0;
    text-align: center;

}

.piggylogo-container img {
    cursor: pointer;
}

.form-container{
    background-color: white;
    padding: 3rem;
    border-radius: 20px;
    border-bottom-left-radius: 0;
}

.form-container header {
    padding-bottom: 30px;
}

header h1{
    font-size: 24px;
    letter-spacing: normal;
    line-height: 24px;
    vertical-align: baseline;
    font-family: 'stack', U8, sans-serif;
    color: rgb(8, 62, 158);
    text-align: center;
    margin-bottom: 0;
    word-spacing: 0px;
    margin: 0px;



}
header p {
    font-size: 14px;
    text-align: center;
    color: rgb(74, 85, 104);
    line-height: 21px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    margin-top: 8px;
    margin-bottom: 10px;
    font-family:'stack', Karla, sans-serif;
    font-weight: 400;

}
.field{
    width:100%;
    margin:0 auto;
}

.field label {
    font-size:0.8rem;
    font-weight: bold;

}
.field input[type='text'] {
    margin-top: 10px;
    margin-bottom: 30px;
    height:50px;
    width:100%;
    background-color:lavender;
    outline: none;
    border: none;
    padding:12px 20px;
    box-sizing: border-box;
}

.button{
    width:100%;
    background-color: rgb(13,96,216);
    color: white;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    padding:15px;
    border: none;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(46, 46, 139);
}

.reg-forgot-password p{
    text-align: center;
    margin: 30px;
    font-size: 0.8rem;
}
.register{
    font-family: 'stack', Karla, sans-serif;
    font-style: normal;
    text-decoration: none;
}
.forgot{
    font-family: 'stack', Karla, sans-serif;
    font-style: normal;
    text-decoration: none;
}

@media(max-width: 1680px){
    .content{
        width: 33%;
    }
@media(max-width: 1000px){
    .content{
        width: 45%;
    }

  }

@media(max-width: 800px){
    .content{
        width: 55%;
    }
}

@media(max-width: 700px){
    .content{
        width: 70%;
    }
    .cy{
      visibility: hidden;
    }
    .mg{
      visibility: hidden;
    }
}

@media(max-width: 600px){
    .content{
        width: 85%;
    }
}
